= form_with model: @artist do |f|
  = f.label :name
  = f.text_field :name
  - if f.object.errors[:name].present?
    %span= f.object.errors[:name].to_sentence
    %br
  %br
  
  = f.label "Profile photo"
  %br
  
  - if @artist.avatar.attached?
    = image_tag @artist.avatar, height: '100px'
    %br
    = link_to purge_avatar_artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } do
      Remove photo
  %br

  = f.file_field :avatar
  %br  

  = f.label :bio
  = f.text_area :bio
  - if f.object.errors[:bio].present?
    %span= f.object.errors[:bio].to_sentence
    %br
  %br
  
  = f.submit
  
  %br
  %br
  
  = link_to artists_path do
    Back to Artists List
