.albums-container
  .artists-form
    = form_with model: @album do |f|   
      .form-avatar-container   
        = f.label "Cover art"
        %br
        
        - if @album.cover_art.attached?
          .form-avatar
            = image_tag @album.cover_art, height: '100px'
          .remove
            = link_to purge_cover_art_album_path(@album), method: :delete, data: { confirm: "Are you sure?" } do
              Remove cover art
        %br
          
        = f.file_field :cover_art
        %br
      
      = f.label :name
      %br
      = f.text_field :name
      - if f.object.errors[:name].present?
        %span= f.object.errors[:name].to_sentence
        %br
      %br
      %br
      
      = f.label :kind, "Album type:"
      = f.select :kind, ["Single", "Extended Play", "Long Play"]
      - if f.object.errors[:name].present?
        %span= f.object.errors[:name].to_sentence
        %br
      %br
      %br
      
      = f.label :duration_hours, 'Duration (hours)'
      = f.number_field :duration_hours, min: 0
      - if f.object.errors[:duration_hours].present?
        %span= f.object.errors[:duration_hours].to_sentence
        %br
      %br
      %br
      
      = f.label :duration_minutes, 'Duration (minutes)'
      = f.number_field :duration_minutes, min: 0, max: 59
      - if f.object.errors[:duration_minutes].present?
        %span= f.object.errors[:duration_minutes].to_sentence
        %br
      %br
      %br
      
      = f.label :duration_seconds, 'Duration (seconds)'
      = f.number_field :duration_seconds, min: 0, max: 59
      - if f.object.errors[:duration_seconds].present?
        %span= f.object.errors[:duration_seconds].to_sentence
        %br
      %br
      %br
      
      = f.label :released, 'Released?'
      %br
      = f.radio_button :released, true
      = f.label :released, 'Yes', :value => true
      %br
      = f.radio_button :released, false
      = f.label :released, 'No', :value => false
      %br
      %br
      
      = f.label :released_at, 'Released on'
      = f.date_select :released_at, :order => [:year], start_year: 1600, end_year: 2021
      %br
      %br
      
      = f.submit :class => "btn"
      
      %br
      %br
      
      .back
        = link_to albums_path do
          Back to Albums List
